/*所有页面通用样式*/
*{
    /*居中*/
    margin: 0 auto;
    text-align: center;
    /*居中结束*/
}
body{
    background: black;
/*正文样式开始*/
div#context{

}
div#context p{
    color: aqua;
    font-size: 20px;
}
/*正文样式结束*/